#leaderboard {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  background-color: #111;
  color: white;
  z-index: 999;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#leaderboard-set-score {
  margin: 24px auto;
  width: calc(100vw - 84px);
  max-width: 600px;
  background-color: #111;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

#leaderboard-set-score form {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 100%;
}

#leaderboard-set-score .input-wrapper {
  display: flex;
  align-items: center;
}

#leaderboard-set-score .label {
  flex: 1;
  font-size: 14px;
  padding: 2px 0;
}

#leaderboard-set-score input {
  flex: 2;
  padding: 8px;
  font-size: 16px;
  margin: 8px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid white;
}

#leaderboard-set-score button[type=submit] {
  padding: 8px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

#leaderboard-set-score .close-button {
  display: flex;
  text-align: center;
  padding: 12px;
  justify-content: center;
  font-weight: bold;
}

#leaderboard-set-score .title {
  font-size: 24px;
  text-align: center;
  padding: 2px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#leaderboard .leaderboard-container {
  display: flex;
  flex-direction: column;
}
#leaderboard .leaderboard-title {
  padding: 2px 0;

  display: flex;
  align-items: center;
}

#leaderboard .leaderboard-title-text {
  font-size: 24px;
  font-weight: bole;
}
#leaderboard .leaderboard-close-button {
  cursor: pointer;
  margin-left: auto;
}
#leaderboard .leaderboard-close-button:hover {
  text-decoration: underline;
}

#leaderboard .leaderboard-contents {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  font-size: 18px;
}

#leaderboard .score-row {
  display: flex;
  padding: 6px 12px;
}

#leaderboard .score-row:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

#leaderboard .name {
  width: 100%;
}

#leaderboard .name span {
  font-weight: bold;
}

#leaderboard .score {
  width: 100%;
  text-align: right;
}